<div class="well well-sm comment">
    {% if user is not empty %}
        <div class="media comment">
            <div class="media-left">
                <div class="avatar">
                    <a href="#">
                        <img class="media-object __{{ user.username }}" src="/img/users.jpg" alt="{{ user.username }}">
                    </a>
                </div>
            </div>
            <div class="media-body">
                <input type="text" class="input-lg" placeholder="Write a comment" />
            </div>
        </div>
    {% else %}
        <h3 class="text-center">
            <a href="#">Login</a> to comment on this story.
        </h3>
    {% endif %}
</div>
