<p>
    <button class="btn btn-link">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like
    </button>
    <button class="btn btn-link">
        <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
    </button>
    <button class="btn btn-link">
        <span class="glyphicon glyphicon-comment"></span> Comment
    </button>
    <button class="btn btn-link">
        <span class="glyphicon glyphicon-share-alt"></span> Share
    </button>
</p>
