<div class="well well-sm comment">
    <div class="media comment">
        <div class="media-left">
            <div class="avatar">
                <a href="#">
                    <img class="media-object __{{ user.username }}" src="/img/users.jpg" alt="{{ user.username }}">
                </a>
            </div>
        </div>
        <div class="media-body">
            <input type="text" class="input-lg" placeholder="Write a comment" />
        </div>
    </div>
</div>
