<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="avatar">
            <img class="media-object __{{ user.username }}" src="/img/users.jpg" alt="{{ user.username }}">
        </div>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">Account <span class="caret"></span></a>
    </li>
</ul>
