html, body {
    overflow-x: hidden
}

body {
    padding-top: 70px
}

footer {
    padding: 30px 0
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out
    }

    .row-offcanvas-right {
        right: 0
    }

    .row-offcanvas-left {
        left: 0
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%
    }

    .row-offcanvas-right.active {
        right: 50%
    }

    .row-offcanvas-left.active {
        left: 50%
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%
    }
}

.company-logo {
    height: 42px;
    margin-top: -10px;
}

.top-article {
    background-position-y: 100%;
    background-size: 150%;
    transition: all 10s;
}

.top-article.on {
    background-position-y: 0%;
    background-size: 100%;
}

.top-article .title, .story-poster .title, .story-poster-text .date {
    background: rgba(0, 0, 0, 0.75);
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
}

.top-article .title a {
    color: #fff;
    text-decoration: none;
}

.top-article .breaking {
    background: #c00;
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    padding: 5px 10px;
}

.list-group-item {
    padding: 10px;
}

.queue-item {
    margin-bottom: 20px;
    height: 150px;
    border-bottom: 1px dotted #ddd;
    overflow: hidden;
}

.queue-item .title {
    margin-top: 0 !important;;
}

.story-poster {
    position: relative;
}

.story-poster-text {
    position: absolute;
    bottom: 0;
    padding: 50px;
    text-align: center;
}

.story-poster-text .title {
    font-size: 4em;
    margin: 0;
    width: 100%;
}

.story-poster-text .date {
    font-size: 1.25em;
    color: #c00;
    margin: 0;
    width: 100%;
    padding: 20px;
}

.comment .avatar {
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: relative;
}

.nav .avatar {
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: relative;
    margin: 13px 0 0;
}

.comment .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.comment .avatar .__proto {
    top: -23px;
    left: -13px;
}

.comment .avatar .__magnettum {
    top: -23px;
    left: -154px;
}

.comment .avatar .__roll {
    top: -23px;
    left: -82px;
}

.comment .avatar .__drCossak {
    top: -108px;
    left: -13px;
}

.comment .avatar .__drWylls {
    top: -108px;
    left: -82px;
}

.comment .avatar .__eddie {
    top: -108px;
    left: -154px;
}

.comment .avatar .__beatsy {
    top: -108px;
    left: -226px;
}

.comment .avatar .__sparks {
    top: -195px;
    left: -13px;
}

.comment .avatar .__rock {
    top: -195px;
    left: -154px;
}

.comment .avatar .__roco {
    top: -370px;
    left: -154px;
}

.nav .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
}

.nav .avatar .__roco {
    top: -153px;
    left: -65px;
}

.comment {
}

.comment .input-lg {
    width: 100%;
    display: block;
    height: 61px;
    border-radius: 1px;
    border: 1px solid #ccc;
}
